<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Home'}) %> 
<body>
    <%- include('./partials/navbar') %> 
    <h1>HOME</h1>
    <p>Wellcome to SoftDrinks Management</p>
</body>
</html>